{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timeturner</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <p class="navbar-text">Time Turner</p>
    </nav>
    <div class="container">
{{ end }}
{{ define "footer" }}
    </div>
  </body>
</html>
{{ end }}
