{{ define "list days" }}
{{ $dateRoute := .Router.Get "list times on day" }}
{{ template "header" }}
<ol>
  {{ range .Days }}
    <li>
      <a href="{{ $dateRoute.URL "date" (formatDate .) }}">
        {{ formatDate . }}
      </a>
    </li>
  {{ else }}
    <p>No data found!</p>
  {{ end }}
</ol>
{{ template "footer" }}
{{ end }}
