{{ define "list times" }}
{{ template "header" }}
<h1>{{ formatDate .Date }}</h1>
<ol>
  {{ range .Timestamps }}
    <li>
      <a href="{{ getUrl "list snapshots at time" "date" (formatDate .) "time" (formatTime .) }}">
        {{ formatTime . }}
      </a>
    </li>
  {{ else }}
    <p>No snapshots found!</p>
  {{ end }}
</ol>
{{ end }}
