{{ define "list snapshots" }}
{{ template "header" }}
{{ $router := .Router }}
<h1>{{ formatDateTime .Timestamp }}</h1>
<ul>
  {{ range $hostname, $snapshots := .HostMap }}
    <li>
      {{ $hostname }}
      <ul>
        {{ range $snapshots }}
          <li>
            <a href="{{ .GetUrl $router }}">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </li>
  {{ else }}
    <p>No snapshots found!</p>
  {{ end }}
</ol>
{{ end }}
